
canvas {
  width:100%
}

.AudioPlayer {
  text-align: center;
  height:128px;
  box-sizing: border-box;
  padding:0;
  margin:0;
  background-color:#555;
  border:1px solid #ccc;
}


.audio-player {
  padding:0;
  display:block;
  height:100%;

}

.audio-player-artwork {
  padding:0;
  margin:0;
  display:inline-block;
  height:100%;
  background-color:#eee;
  padding:5px;
}

.audio-player-artwork > img {
  padding:5px;
  margin-top:10px;
  max-width:100%;
  width:100%;
}


@media (max-width: 991px) {
  .audio-player-artwork > img {
    padding:2px;
    margin-top:2px;
    max-width:100%;
    width:70%;
  }
}


.audio-player-waveform-display {
  padding:0;
  margin:0;
  display:inline-block;
  height:100%;
}

.audio-player-controls {
  padding:0;
  margin:0;
  display:inline-block;
  height:100%;
  background-color:#eee;
}

#waveform{
  width:100%;
  padding:0;
  margin:0;

}

.audio-player-controls > i{
  margin-top:25px;
  margin-right:10px;
  font-size: 5em;
  padding:0;
  color:#ccc;
  text-shadow: -1px 0 #4ec0a9, 0 1px #4ec0a9, 1px 0 #4ec0a9, 0 -1px #4ec0a9;
}

.audio-player-information {
  pointer-events: none;
  z-index:99;
  position:absolute;
  display:inline;
  margin:0;
  top:0;
  left:0;
  text-align:left;
  color:#fff;
  font-size:1.2em;
  font-weight:bold;
  /*background-color:rgba(0,0,0,0.1);*/

}

.audio-player-meta{
  pointer-events: none;
  padding:0;
  opacity:0.8;

}

.bottom {
  padding-top:100px;
}

.align-right {
  text-align:right;
}
